body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: blanchedalmond;
}
a.buttonlaunch {
  text-decoration: none;
  background-color: #DDDDDD;
  border: 2px solid #CCCCCC;
  padding: 4px;
  border-radius: 8px;
  color: black;
  display: inline-block;
}
